@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

:root {
	--poppins: 'Poppins', sans-serif;
	--lato: 'Lato', sans-serif;
	--light: #F9F9F9;
	--blue: #3C91E6;
	--light-blue: #CFE8FF;
	--grey: #eee;
	--dark-grey: #AAAAAA;
	--dark: #342E37;
	--red: #DB504A;
	--yellow: #FFCE26;
	--light-yellow: #FFF2C6;
	--orange: #FD7238;
	--light-orange: #FFE0D3;
}

#sidebar {
	position: fixed;
	top: 0;
	left: 0;
	width: 280px;
	height: 100%;
	background: #4c50d3;
	z-index: 2000;
	font-family: var(--lato);
	overflow-x: hidden;
}

#sidebar .brand {
	font-size: 24px;
	font-weight: 700;
	height: 56px;
	display: flex;
	align-items: center;
	color: var(--blue);
	position: sticky;
	top: 0;
	left: 0;
	z-index: 500;
	padding-bottom: 20px;
	box-sizing: content-box;
}
#sidebar .text1{
	font-size: 24px;
	color:#fff;
}
#sidebar .text1 span{
	color:#DB504A;
}
 .bx {
	min-width: 60px;
	display: flex;
	justify-content: center;
}
 .side-menu {
	width: 100%;
	margin-top: 48px;
}
.side-menu li {
	height: 48px;
	background: transparent;
	padding: 4px;
}
 .side-menu li.active {
	background: #4c50d3;
	position: relative;
}
 .side-menu li.active::before {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	top: -40px;
	right: 0;
	box-shadow: 20px 20px 0 #eee;
	z-index: -1;
}
 .side-menu li.active::after {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	bottom: -40px;
	right: 0;
	box-shadow: 20px -20px 0 #eee;
	z-index: -1;
}
 .side-menu li a {
	width: 100%;
	height: 100%;
	background: #4c50d3;
	display: flex;
	align-items: center;
	border-radius: 48px;
	font-size: 16px;
	color: #fff;
	white-space: nowrap;
	overflow-x: hidden;
}
.side-menu.top li.active a {
	color: var(--blue);
}

.side-menu li a.logout {
	color: #ffce00;
}
.side-menu.top li a:hover {
	color: #ffce00;
}
.side-menu li a .bx {
	display: flex;
	justify-content: center;
}

#content {
	position: relative;
	width: calc(100% - 280px);
	left: 280px;
	transition: .3s ease;
}


#content nav {
	height: 56px;
	background: #F9F9F9;
	padding: 0 24px;
	display: flex;
	align-items: center;
	grid-gap: 24px;
	font-family: var(--lato);
	position: sticky;
	top: 0;
	left: 0;
	z-index: 1000;
}
#content nav::before {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	bottom: -40px;
	left: 0;
	border-radius: 50%;
	
}
#content nav a {
	color: var(--dark);
}
#content nav .bx.bx-menu {
	cursor: pointer;
	color: var(--dark);
}

#content nav form {
	max-width: 400px;
	width: 100%;
	margin-right: auto;
}
#content nav form .form-input {
	display: flex;
	align-items: center;
	height: 36px;
}
#content nav form .form-input input {
	flex-grow: 1;
	padding: 0 16px;
	height: 100%;
	border: none;
	background: #eee;
	border-radius: 36px 0 0 36px;
	outline: none;
	width: 100%;
	color: var(--dark);
}
#content nav form .form-input button {
	width: 36px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--blue);
	color: #F9F9F9;
	font-size: 18px;
	border: none;
	outline: none;
	border-radius: 0 36px 36px 0;
	cursor: pointer;
}
#content nav .notification {
	font-size: 20px;
	position: relative;
}
#content nav .notification .num {
	position: absolute;
	top: -6px;
	right: -6px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 2px solid #F9F9F9;
	background: var(--red);
	color: var(--light);
	font-weight: 700;
	font-size: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#content nav .profile img {
	width: 36px;
	height: 36px;
	object-fit: cover;
	border-radius: 50%;
}

#content main {
	width: 100%;
	padding: 36px 24px;
	font-family: var(--poppins);
	max-height: calc(100vh - 56px);
	overflow-y: auto;
}
#content main .head-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	grid-gap: 16px;
	flex-wrap: wrap;
}
#content main .head-title .left h1 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	color: var(--dark);
}
t .breadcrumb {
	display: flex;
	align-items: center;
	grid-gap: 16px;
}
.breadcrumb li {
	color: var(--dark);
}
.breadcrumb li a {
	color: var(--dark-grey);
	pointer-events: none;
}
.breadcrumb li a.active {
	color: var(--blue);
	pointer-events: unset;
}
 .head-title .btn-download {
	height: 36px;
	padding: 0 16px;
	border-radius: 36px;
	background: var(--blue);
	color: #F9F9F9;
	display: flex;
	justify-content: center;
	align-items: center;
	grid-gap: 10px;
	font-weight: 500;
}

.box-info {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	grid-gap: 24px;
	margin-top: 36px;
}
.box-info li {
	padding: 24px;
	background: #F9F9F9;
	border-radius: 20px;
	display: flex;
	align-items: center;
	grid-gap: 24px;
}
.box-info li .bx {
	width: 80px;
	height: 80px;
	border-radius: 10px;
	font-size: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
}
 .box-info li:nth-child(1) .bx {
	background: var(--light-blue);
	color: var(--blue);
}
 .box-info li:nth-child(2) .bx {
	background: var(--light-yellow);
	color: var(--yellow);
  }
   .box-info li:nth-child(3) .bx {
	background: var(--light-orange);
	color: var(--orange);
}
 .box-info li .text h3 {
	font-size: 24px;
	font-weight: 600;
	color: var(--dark);
}
 main .box-info li .text p {
	color: var(--dark);	
}

 main .table-data {
	display: flex;
	flex-wrap: wrap;
	grid-gap: 24px;
	margin-top: 24px;
	width: 100%;
	color: var(--dark);
}
 .table-data > div {
	border-radius: 20px;
	background: #F9F9F9;
	padding: 24px;
	overflow-x: auto;
}
 .table-data .head {
	display: flex;
	align-items: center;
	grid-gap: 16px;
	margin-bottom: 24px;
}
.table-data .head h3 {
	margin-right: auto;
	font-size: 24px;
	font-weight: 600;
}
.table-data .head .bx {
	cursor: pointer;
}
 .order {
	flex-grow: 1;
	flex-basis: 500px;
}
 .order table {
	width: 100%;
	border-collapse: collapse;
}
 .order table th {
	padding-bottom: 12px;
	font-size: 13px;
	text-align: left;
	border-bottom: 1px solid #eee;
}
 .order table td {
	padding: 16px 0;
}
 .order table tr td:first-child {
	display: flex;
	align-items: center;
	grid-gap: 12px;
	padding-left: 6px;
}
 .order table td img {
	width: 36px;
	height: 36px;
	border-radius: 50%;
	object-fit: cover;
}
 .order table tbody tr:hover {
	background: #eee;
}
.status {
	font-size: 10px;
	padding: 6px 16px;
	color: #F9F9F9;
	border-radius: 20px;
	font-weight: 700;
}
 .status.completed {
	background: var(--blue);
}
 .status.process {
	background: var(--yellow);
}
 .status.pending {
	background: var(--orange);
}


 .table-data .todo {
	flex-grow: 1;
	flex-basis: 300px;
}

.grid-container-dash-43 {
    
		display: grid;
		grid-template-columns: repeat(7, 1fr); /* 7 days per week */
		gap: 5px;
	  
}

.grid-item {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    line-height: 1.5;
}

.grid-item.active {
    background-color: #02a842; 
}

.grid-item.inactive {
    background-color: #c8c4c4; 
}

.new-grid-dash-43 span{
    font-size: 20px;
	color:rgb(216, 8, 8);
}

.text-side{
	padding-left:7px;
}

@media screen and (max-width: 768px) {
	#sidebar {
		width: 200px;
	}

	#content {
		width: calc(100% - 190px);
		left: 200px;
	}

	.nav-link {
		display: none;
	}
}

@media screen and (max-width: 576px) {
	

	 .form-input button {
		width: auto;
		height: auto;
		background: transparent;
		border-radius: none;
		color: var(--dark);
	}

	#content nav form.show .form-input input {
		display: block;
		width: 100%;
	}
	#content nav form.show .form-input button {
		width: 36px;
		height: 100%;
		border-radius: 0 36px 36px 0;
		color: var(--light);
		background: var(--red);
	}

	
	#content main .box-info {
		grid-template-columns: 1fr;
	}

	.table-data .head {
		min-width: 420px;
	}
	 .order table {
		min-width: 420px;
	}
	 .grid-container-dash-43 {
		display: grid;
		grid-template-columns: repeat(6, 50px); 
		grid-template-rows: repeat(5, 50px); 
		gap:0;
	}
	.grid-item{
		width:40px;
		height:40px;
	}
}